@model ProjetoFinalVinicius.Models.Cidade

@{
    ViewData["Title"] = "Deletar";
}

<h1>Deletar</h1>

<h3>Você deseja deletar?</h3>
<div>
    <h4>Cidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.EstadoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CidadeId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para lista</a>
    </form>
</div>
