body {
    text-align: center;
    margin: 300px auto;
}

div {
    padding-top: 20px;
}

input {
    border-radius: 5px;
    border-width: 2px;
}

.box {
    margin-left: 550px;
    border-radius: 15px;
    background-color: purple;
    width: 25%;
    text-align: center;
    align-items: center;
}
